.search {
  margin-right: 20px;
  margin-left: auto;
  position: relative;
  flex-grow: 1;
  min-width: 200px; /* Minimum width for the search bar */
  max-width: 400px; /* Maximum width for the search bar */
}

.search input {
  width: 100%; /* Full width of the container */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding is included in width */
}

.search-results {
  position: absolute;
  width: 100%;
  background-color: white;
  
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.search-item {
  padding: 10px;
  
  background-color: #f8f9fa;
  margin-bottom: 2px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  color: black;
}

.search-item h5 {
  overflow: hidden;
  margin: 1px;
  width: 100%; /* Full width within the search item */
}

@media (max-width: 600px) {
  .search {
    width: 100%; /* Full width on small screens */
    max-width: 100%; /* Allows the search bar to take full width */
  }

  .search input {
    width: 100%; /* Full width on small screens */
  }
}
