.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display:flex;
  justify-content:space-between;
}

.dashboard {
  padding: 20px;
}

.category {
  margin-bottom: 30px;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
}


